# Allows quick testing of changes and keeps stuff like tokens private
configs.ts
.env

# npm stuff
.npmignore
npm/
node_modules/

# docs
book/
morsels_output/

# Deno stuff
registries/
deps/
gen/
fileloader.ts